# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. Ruby

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science Tools for Data Science
- Examples of Jupyter Notebook usage

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn 
2. Keras 
3. TensorFlow 
4. Pytorch

| Data Science Tools |
| --- |
| Jupyter Notebooks |
| Jupyter lab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Alex